<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
  

<div class="btn-group">
  <a class="btn btn-default" routerLink="/home" role="button">Home</a>
  <a class="btn btn-default" routerLink="/aboutus" role="button">About us </a>
  <a class="btn btn-default" routerLink="/contactus" role="button">Contact us </a>
  <a class="btn btn-default" routerLink="/register" role="button">Add Student</a>

</div>

</div>

<router-outlet></router-outlet>
