  <h2>Add student</h2>
 

<form #myForm="ngForm" (ngSubmit)="AddStud(myForm)"  role="form">

  <div class="form-group">
    <label for="No">No</label>
    <input ngModel type="text" class="form-control" name="no" >
  </div>

  <div class="form-group">
      <label for="Name">Name</label>
      <input ngModel type="text" class="form-control" name="name" >
    </div>
    
    <div class="form-group">
        <label for="Address">Address</label>
        <input ngModel type="text" class="form-control" name="address"  >
      </div>
    

  <button type="submit" class="btn btn-primary">Add student</button>
  {{msg}}
</form>

